# fly.toml app configuration file generated for app-rough-cloud-8143 on 2026-02-23T18:47:41Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'app-rough-cloud-8143'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
